/*
    Author: Drew Walizer 
    Date: 5/7/20
    Course: 366
*/

* {
    font-family: cursive;
    font-size: 14pt;
    text-align: center;
}

/*  Puzzle Area */
#puzzlearea {
    margin: auto;
    width: 400px;
    height: 400px;
    position: relative; 
}   

/* Puzzle tiles */
#puzzlearea div{
    border-width: 5px;
    border-style: solid;
    border-color: black;
    width: 90px;
    height: 90px;
    float: left;
    font-size: 40pt;    
    position: absolute;
}